<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../public/assets/css/burger_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MVC With Burgers!</title>
        <script src="../../public/assets/js/script.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>